.scrollTeams{
  max-height: 200px;
  height: 200px;
  overflow-y: scroll;  
}

.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 20px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.content {
  margin: 20px;
}